// Entry point for your Sass build
@use "../core";

body {
  font-family: sans-serif;
}

a {
  font-weight: 600;
  text-decoration-line: none;
}

button,
input {
  background-color: transparent;
  border: 1px solid #ccc;
}

h1 {
  font-weight: 900;
}