// Entry point for your Sass build
@use "core";

body {
  font-family: sans-serif;
}

a {
  font-weight: 600;
  text-decoration-line: none;
}

button,
input {
  background-color: transparent;
  border: 1px solid #ccc;
}

h1 {
  font-weight: 900;
}

.add_fields {
  display: block;
}

.remove_fields {
  color: red;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1;
  position: absolute;
  top: 0.35rem;
  right: 0.35rem;
  z-index: 999;
}

nested-fields {
  border: 1px solid #ccc;
  display: block;
  padding: 1rem;
  position: relative;
  max-width: 800px;
  margin: 1rem auto;
}

nested-fields nested-fields .add_fields {
  display: none;
}